<div class="row">
  <div class="col-md-8">
    <div class="media">
      <BR />
      <% AVATAR_URL = @USER.AVATAR_URL(128) %>
      <% IF AVATAR_URL %>
          <DIV CLASS="MEDIA-LEFT">
            <%= IMAGE_TAG AVATAR_URL, CLASS: 'MEDIA-OBJECT' %>
          </DIV>
      <% END %>
      <DIV CLASS="MEDIA-BODY">
        <H2 CLASS="MEDIA-HEADING"><%= @USER.NAME %></H2>
        <SMALL>
          <%= PLURALIZE(@USER.POSTS.COUNT, 'POST') %>,
          <%= PLURALIZE(@USER.COMMENTS.COUNT, 'COMMENT') %>
        </SMALL>
      </DIV>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>