<div class="row">
  <div class="col-md-8">
    <div class="media">
      <BR />

      <DIV CLASS="MEDIA-BODY">
        <H2 CLASS="MEDIA-HEADING"><%= @user.name %></H2>
        <SMALL>
          <%= pluralize(@user.posts.count, 'POST') %>,
          <%= pluralize(@user.comments.count, 'COMMENT') %>
        </SMALL>
      </DIV>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>