<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>Talk about anything, with everyone.</h1>
          <p>YourForum is a resource for sharing links with your friends!</p>
          <div class="btn btn-common">
            <%= link_to "Sign Up", new_user_path %>
          </div>

        </div>
        <%= image_tag( "home/slider/hill.png", class: "slider-hill") %>
        <%= image_tag( "home/slider/house.png", class: "slider-house") %>
        <%= image_tag( "home/slider/sun.png", class: "slider-sun") %>
        <%= image_tag( "home/slider/birds1.png", class: "slider-birds1") %>
        <%= image_tag( "home/slider/birds2.png", class: "slider-birds2") %>
      </div>
    </div>
  </div>

</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <h2>Solves world hunger</h2>
          <p>YourForum will deliver food and water to those in need, all over the world.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <h2>Eliminates poverty</h2>
          <p>YourForum will deliver money and education to those in need, all over the world.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
        <div class="single-service">
          <h2>Makes you better looking</h2>
          <p>Just trust me on this one. </p>
        </div>
      </div>
    </div>
  </div>
</section>




